<header>
    <img src="https://innoveeventos.netlify.app/img/logo-texto.png" width="180" height="62">

    
    <button class="menu-toggle" (click)="toggleMenu()">
        &#9776; 
    </button>

   
    <nav [class.open]="menuOpen">
        
        <button class="close-menu" (click)="closeMenu()">✖</button>

        <a href="#home" (click)="closeMenu()">Principal</a>
        <a href="#speciality" (click)="closeMenu()">Sobre Nós</a>
        <a href="#gallery" (click)="closeMenu()">Eventos</a>

        <app-button></app-button>
    </nav>
</header>