<app-header></app-header>

<section  class="home">
    <div  class="content">
        <h3>
            Somos a 
            <span>Innove</span>
            , uma empresa <div></div> que tem foco em 
            <span>eventos.</span>
            <div></div>
            Que tal nos conhecer?
        </h3>
        <a href="#" class="btn">
            Quem somos?</a>
    </div>
    <div class="image">
        <img src="https://innoveeventos.netlify.app/img/logo.png" width="40%" alt="">
    </div>
</section>

<app-speciality></app-speciality>

<app-popular></app-popular>

<app-footer></app-footer>


