<section class="speciality">

    <h1 class="heading"> Nossos <span>Eventos</span> realizados</h1>

    <div class="box-container">

        <div class="box">
            <img class="image" src="https://innoveeventos.netlify.app/img/cinema.jpg" alt="">
            <div class="content">
                <img src="https://cdn-icons-png.flaticon.com/512/3875/3875391.png" width="50px" alt="">
                <h3>Cinemas</h3>
                <p>Está pensando em organizar algo, estilo cinema?? Então pode contar com a gente!!
                    Oferecemos os melhore eventos nesse sentido
                    .</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="https://innoveeventos.netlify.app/img/confraternizacao.jpg" alt="">
            <div class="content">
                <img src="https://cdn-icons-png.flaticon.com/512/4087/4087698.png" width="50px" alt="">
                <h3>Confraternização</h3>
                <p>Quer juntar a galera para um evento mais social?? Então contrate a gente para tornar
                    esse evento ainda mais especial e marcante.
                </p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="https://innoveeventos.netlify.app/img/party-festa.jpg" alt="">
            <div class="content">
                <img src="https://cdn-icons-png.flaticon.com/512/1178/1178934.png" width="50px" alt="">
                <h3>Festa</h3>
                <p> Quem não ama uma festinha com a galera?? Então bora agendar e tornar esse momento
                    real e marcante!
                </p>
            </div>
        </div>



    </div>

</section>