@import "../../../color-variables.scss";


* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

section {
    padding: 2rem 9%;
}

.popular {

background-color: var(--primary);

    h1 {
        text-align: center;
        font-size: 2.063rem;
        padding: 0 0 2rem;
        color: var(--primary-text);
    }

    span {
        color: var(--text-span)
    }

    .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .btn {
                display: inline-block;
                padding: .8rem 3rem;
                border: .2rem solid var(--btn-border);
                color: var(--btn-text-popular);
                cursor: pointer;
                font-size: 1.063rem;
                border-radius: .5rem;
                font-weight: bold;
                position: relative;
                overflow: hidden;
                z-index: 0;
                margin-top: 1rem;
            }
        
            .btn::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 0%;
                height: 100%;
                background: #5c5deb;
                transition: 0.3s linear;
                z-index: -1;
            }
        
            .btn:hover::before {
                width: 100%;
                left: 0;
            }
        }

        .box {
            padding: 1.25rem;
            background-color: var(--container);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            border: 0.1rem solid rgba(0, 0, 0, 0.3);
            border-radius: 0.5rem;
            text-align: center;
            flex: 1 1 16.162rem;
            position: relative;

            img {
                height: 16.162rem;
                object-fit: cover;
                width: 100%;
                border-radius: 0.5rem;
            }

            .price {
                position: absolute;
                top: 1.5rem;
                left: 1.5rem;
                background: #E79663;
                color: #fff;
                font-size: 1.25rem;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;

                &.p-v {
                    background-color: #E33D3A;
                }

                &.p-a {
                    background-color: #EDD029;
                }
            }

            h3 {
                color: #522924;
                font-size: 1.563rem;
                padding-top: 1rem;
            }

            .stars {
                svg {
                    width: 1rem;
                    filter: invert(98%) sepia(88%) saturate(3097%) hue-rotate(330deg) brightness(93%) contrast(100%);
                }
            }
        }
    }
